@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-sofia: "Sofia Sans Semi Condensed", sans-serif;
  --color-light: var(--color-slate-100);
  --color-dark: var(--color-slate-900);
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-light);
    background: var(--color-dark);
    font-family: var(--font-sofia), Arial, Helvetica, sans-serif;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--color-dark);
    background: var(--color-light);
    font-family: Arial, Helvetica, sans-serif;
  }
}
